/* src/Css/footer.css */

.footer-custom {
    background: #969696;
    color: black;
    padding: 1rem 10px;
}

.footer-links {
    padding: 1rem 10px;
    align-items: center;
    justify-content: center;
}

.footer-content {
    width: 100%;
}

.footer-custom .row {
    align-items: center;
}

.footer-custom .text-md-right {
    text-align: right;
}

.footer-logo {
    max-height: 50px; /* adjust heights of the logo image */
}
